* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width:100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    min-height: 650px;
    background-image: url(media/background.png);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 1;
    font-size: 70px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: #535353;
  }
  
  .top-wrapper p {
    opacity: 1;
    font-size: 27px;
    margin-bottom: 3px;
    color: #535353;
  }
  


  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 30px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(39, 27, 2, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 150px;
    margin-top: 15px;
  }
  
  .header-left {
    float: left;
  }

  .header-left:hover {
    transform: scale(1.2) rotate(-3deg);
    transition: all 0.5s;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.6s;
  }
  
  .header-right a:hover {
    background-color: rgba(218, 177, 149, 0.301);
  }

  .menu-icon {
    color: #cf7106;
    float: right;
    font-size: 24px;
    padding: 24px 0px;
    display: none;
  }
  
  .top-wrapper h1:hover {
    color: #cf7106;
    transform: scale(1.1);
    transition: all 0.5s;
  }
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .heading h2:hover {
    color: #cf7106;
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .lesson {
    padding-top: 50px;
    float: left;
    width: 30%;
    padding-left: 10%;
  }

  .lesson .lesson-icon:hover {
    transform: scale(0.9);
    transition: all 0.5s;
    cursor: grab;
    opacity: 0.8;
  }

  .lesson2 {
    width: 50%;
    padding-top: 50px;
    float: left;
    text-align: center;
  }

  .lesson2 .lesson-icon:hover {
    transform: scale(0.9);
    transition: all 0.5s;
    cursor: grab;
    opacity: 0.8;
  }

.lesson3 {
  width: 50%;
  padding-top: 50px;
  float: left;
  text-align: center;
}

.lesson3 .lesson-icon:hover {
  transform: scale(0.9);
  transition: all 0.5s;
  cursor: grab;
  opacity: 0.8;
}

  .lesson-icon {
    position: relative;
  }

  
  .txtbold {
  font-weight: bold;
  font-size: 20px;
  color: #cf7106;
  }

  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 13px;
    color: #b3aeb5;
  }

  .facebook:hover {
    opacity: 0.8;
   transition: all 0.4s;
  }
  .instagram:hover {
    opacity: 0.8;
    transition: all 0.4s;
}
  .heading h3 {
    font-weight: normal;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #cf7106;
    cursor: pointer;
    box-shadow: 0 7px #973101;
  }

  .message:hover {
    transform: rotate(5deg);
    transition: all 0.4s;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  
  footer p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: Lato;
  }
  
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  rgba(39, 27, 2, 0.9);
  }
  


  
